.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

.env
.env.*
!.env.example
.python-version.local

.coverage
.coverage.*
.hypothesis/
.mypy_cache/
.nox/
.pytest_cache/
.ruff_cache/
.tox/
.cache/
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
pip-wheel-metadata/
build/
dist/
htmlcov/
.htmlcov/
.python-build/
.venv*/
venv/
ENV/
env/

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.container/
.docker/
container-logs/

.idea/
.vscode/
*.swp
*.swo
*~
